html{background:#fef2f6 url(9eKRfsK.png) repeat-y 50% 0;margin:0 auto;width:1400px;}
body{position:relative;width:1400px;background:url(bWiwCpU.jpg) no-repeat 50% 0;margin:0;}
p{margin:0;padding:0;}
.current{float:left;display:block;margin-left:30px; padding-top:0;}
.current a{font-weight: bold;text-decoration: underline;color: red;padding:0; margin:0;}
#menu{
	position:absolute;
	top:313px;
        left:210px;
}
