@charset "UTF-8";

html,body{
	width:100%;
	height:100%;
}

body{
	min-width:1180px;
	min-height:700px;
	position: relative;
}


/**************************************************/
#wrapper{
	width:100%;
	height:100%;
	/*overflow-y: auto;*/
}

/**************************************************/
#top{
	width:100%;
	height: 100%;
	box-sizing:border-box;
	padding-bottom:80px;
}
#top .inner{
	position: relative;
	width:100%;
	height:100%;
	overflow: hidden;
}




/**************************************************/

#top .content{
	position: relative;
	width:62.5%;
	height: 100%;
	float: left;
}
#top .content .v{
	position: absolute;
	-webkit-transform: translate3D(0,-4%,0);
	   -moz-transform: translate3D(0,-4%,0);
	    -ms-transform: translate3D(0,-4%,0);
	     -o-transform: translate3D(0,-4%,0);
	        transform: translate3D(0,-4%,0);
	top:0;
	left:0;
	width:100%;
	height: 110%;
	background: url(../img/top/v.jpg) no-repeat center 50%;
	background-size:cover;
	-webkit-transition: -webkit-transform 8s ease-out 0s;
	   -moz-transition: -moz-transform 8s ease-out 0s;
	    -ms-transition: -ms-transform 8s ease-out 0s;
	     -o-transition: -o-transform 8s ease-out 0s;
	        transition: transform 8s ease-out 0s;
}
#top .content .v>div{
	position: relative;
	width:100%;
	height: 100%;
}
#top .content .v .inner{
	width:100%;
	height: 100%;
	background: url(v2.jpg) no-repeat center 50%;
	background-size:cover;
		 -o-animation: show .05s ease 0s infinite;
	    -ms-animation: show .05s ease 0s infinite;
	   -moz-animation: show .05s ease 0s infinite;
	-webkit-animation: show .05s ease 0s infinite;
	-webkit-animation-fill-mode:both;
	animation-fill-mode:both;	
}
#top .content .v .hikari{
	opacity: 0;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: url(v3.jpg) no-repeat center 50%;
	background-size:cover;
	-webkit-transition: all 1.5s linear .5s;
	   -moz-transition: all 1.5s linear .5s;
	    -ms-transition: all 1.5s linear .5s;
	     -o-transition: all 1.5s linear .5s;
	        transition: all 1.5s linear .5s;
}
#top .content .v .cover{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background: #fff;
}
body.def #top .content .v{
	-webkit-transform: translate3D(0,0,0);
	   -moz-transform: translate3D(0,0,0);
	    -ms-transform: translate3D(0,0,0);
	     -o-transform: translate3D(0,0,0);
	        transform: translate3D(0,0,0);
	-webkit-transition: all 0s ease 0s;
	   -moz-transition: all 0s ease 0s;
	    -ms-transition: all 0s ease 0s;
	     -o-transition: all 0s ease 0s;
	        transition: all 0s ease 0s;
}
body.def #top .content .v .hikari{
	opacity: 1;
	-webkit-transition: all 0s ease 0s;
	   -moz-transition: all 0s ease 0s;
	    -ms-transition: all 0s ease 0s;
	     -o-transition: all 0s ease 0s;
	        transition: all 0s ease 0s;
}

#top .content .grad{
	opacity: 0.4;
	position: absolute;
	top:0;
	left:0;
	display: block;
	width:100%;
	height:20%;
}
#top .content .copy1{
	display: block;
	position: absolute;
	right:10px;
	top:10px;
	height: 95%;
	-webkit-transition: opacity 1s ease 1.5s ,top 2s cubic-bezier(0, .66, .31, 1) 1.5s;
	   -moz-transition: opacity 1s ease 1.5s ,top 2s cubic-bezier(0, .66, .31, 1) 1.5s;
	    -ms-transition: opacity 1s ease 1.5s ,top 2s cubic-bezier(0, .66, .31, 1) 1.5s;
	     -o-transition: opacity 1s ease 1.5s ,top 2s cubic-bezier(0, .66, .31, 1) 1.5s;
	        transition: opacity 1s ease 1.5s ,top 2s cubic-bezier(0, .66, .31, 1) 1.5s;
}
#top .content .copy2{
	display: block;
	position: absolute;
	left:10px;
	top:10px;
	height: 90%;
	-webkit-transition: opacity 1s ease 1.8s ,top 2s cubic-bezier(0, .66, .31, 1) 1.8s;
	   -moz-transition: opacity 1s ease 1.8s ,top 2s cubic-bezier(0, .66, .31, 1) 1.8s;
	    -ms-transition: opacity 1s ease 1.8s ,top 2s cubic-bezier(0, .66, .31, 1) 1.8s;
	     -o-transition: opacity 1s ease 1.8s ,top 2s cubic-bezier(0, .66, .31, 1) 1.8s;
	        transition: opacity 1s ease 1.8s ,top 2s cubic-bezier(0, .66, .31, 1) 1.8s;
}
body.def #top .content .copy1,
body.def #top .content .copy2{
	top:4%;
	opacity: 0;
	-webkit-transition: all 0s ease 0s;
	   -moz-transition: all 0s ease 0s;
	    -ms-transition: all 0s ease 0s;
	     -o-transition: all 0s ease 0s;
	        transition: all 0s ease 0s;
}

@-webkit-keyframes show {
	0% {opacity: 1;}
	10% {opacity: .8;}
	20% {opacity: 1;}
	90% {opacity: .9;}
	100% {opacity: 1; }
}
@-ms-keyframes show {
	0% {opacity: 1;}
	10% {opacity: .8;}
	20% {opacity: 1;}
	90% {opacity: .9;}
	100% {opacity: 1; }
}
@-moz-keyframes show {
	0% {opacity: 1;}
	10% {opacity: .8;}
	20% {opacity: 1;}
	90% {opacity: .9;}
	100% {opacity: 1; }
}
@-o-keyframes show {
	0% {opacity: 1;}
	10% {opacity: .8;}
	20% {opacity: 1;}
	90% {opacity: .9;}
	100% {opacity: 1; }
}
/**************************************************/

#top .title{
	position: relative;
	width:37.5%;
	height: 100%;
	float: left;
	overflow: hidden;
	-webkit-transition: all .5s linear .3s;
	   -moz-transition: all .5s linear .3s;
	    -ms-transition: all .5s linear .3s;
	     -o-transition: all .5s linear .3s;
	        transition: all .5s linear .3s;
}
#top .title .v{
	position: absolute;
	top:0;
	left:0;
	width:110%;
	height: 100%;
	background: url(../img/top/bg-title.jpg) no-repeat center center #003e97;
	background-size:cover;
	-webkit-transform: translate3D(0,0,0);
	   -moz-transform: translate3D(0,0,0);
	    -ms-transform: translate3D(0,0,0);
	     -o-transform: translate3D(0,0,0);
	        transform: translate3D(0,0,0);
	-webkit-transition: -webkit-transform 7.7s ease-out .3s;
	   -moz-transition: -ms-transform 7.7s ease-out .3s;
	    -ms-transition: -ms-transition 7.7s ease-out .3s;
	     -o-transition: -o-transform 7.7s ease-out .3s;
	        transition: transform 7.7s ease-out .3s;
}
body.def #top .title{
	opacity: 0;
	-webkit-transition: all 0s ease 0s;
	   -moz-transition: all 0s ease 0s;
	    -ms-transition: all 0s ease 0s;
	     -o-transition: all 0s ease 0s;
	        transition: all 0s ease 0s;
}
body.def #top .title .v{
	-webkit-transform: translate3D(-8%,0,0);
	   -moz-transform: translate3D(-8%,0,0);
	    -ms-transform: translate3D(-8%,0,0);
	     -o-transform: translate3D(-8%,0,0);
	        transform: translate3D(-8%,0,0);
	-webkit-transition: all 0s ease 0s;
	   -moz-transition: all 0s ease 0s;
	    -ms-transition: all 0s ease 0s;
	     -o-transition: all 0s ease 0s;
	        transition: all 0s ease 0s;
}
#top .title .main{
	position: absolute;
	top:56%;
	left:0;
	width:100%;
	margin:-300px 0 0 ;
	
}
#top .title .main h1{
	-webkit-transition: opacity 1s ease 3s, transform 3s cubic-bezier(0, .66, .31, 1) 3s;
	   -moz-transition: opacity 1s ease 3s, transform 3s cubic-bezier(0, .66, .31, 1) 3s;
	    -ms-transition: opacity 1s ease 3s, transform 3s cubic-bezier(0, .66, .31, 1) 3s;
	     -o-transition: opacity 1s ease 3s, transform 3s cubic-bezier(0, .66, .31, 1) 3s;
	        transition: opacity 1s ease 3s, transform 3s cubic-bezier(0, .66, .31, 1) 3s;
}
body.def #top .title .main h1{
	opacity: 0;
	-webkit-transform: scale(1.2,1.2);
	   -moz-transform: scale(1.2,1.2);
	    -ms-transform: scale(1.2,1.2);
	     -o-transform: scale(1.2,1.2);
	        transform: scale(1.2,1.2);
	-webkit-transition: all 0s ease 0s;
	   -moz-transition: all 0s ease 0s;
	    -ms-transition: all 0s ease 0s;
	     -o-transition: all 0s ease 0s;
	        transition: all 0s ease 0s;
}
#top .title .main h1,
#top .title .main img{
	display: block;
	margin:0 auto;
}
body.def #top .title dd,
body.def #top .title dt{
	
}
#top .title .main h1 img{
	width:45%;
	max-width:325px;
}
#top .title .main h1{
	padding-bottom:20px;
}
#top .title p img{
	margin-left:20px;
	width:40%;
	max-width:220px;
	-webkit-transform: translateX(10px);
	   -moz-transform: translateX(10px);
	    -ms-transform: translateX(10px);
	     -o-transform: translateX(10px);
	        transform: translateX(10px);
}
#top .title .credit{
	opacity: 1;
	background: url(../img/top/credit.png) no-repeat center center;
	background-size:contain;
	width:409px;
	height:128px;
	margin:0 auto 15px;
	display: block;
	margin:0 auto;
	-webkit-transition: all 1.5s ease 4.5s;
	   -moz-transition: all 1.5s ease 4.5s;
	    -ms-transition: all 1.5s ease 4.5s;
	     -o-transition: all 1.5s ease 4.5s;
	        transition: all 1.5s ease 4.5s;
}
#top .title p{
	opacity: 1;
	padding-top:15px;
	-webkit-transition: all 1.5s ease 4.5s;
	   -moz-transition: all 1.5s ease 4.5s;
	    -ms-transition: all 1.5s ease 4.5s;
	     -o-transition: all 1.5s ease 4.5s;
	        transition: all 1.5s ease 4.5s;

}
#top .title .grad2{
	opacity: 0.8;
	position: absolute;
	bottom:0;
	left:0;
	display: block;
	width:100%;
	height:200px;
}
body.def #top .title .credit,
body.def #top .title p{
	opacity: 0;
	-webkit-transition: all 0s ease 0s;
	   -moz-transition: all 0s ease 0s;
	    -ms-transition: all 0s ease 0s;
	     -o-transition: all 0s ease 0s;
	        transition: all 0s ease 0s;
}

/**************************************************/
#top .footer{
	position: absolute;
	right:15px;
	bottom:5px;
	text-align: right;
}
/**************************************************/

#top .banners{
	position: absolute;
	right:15px;
	bottom:18px;
	display: block;
	margin-top:10px;
	padding:5px 28px;
	border:1px solid rgba(255,255,255,0.5);
}
#top .banners li{
	display: none;
}
#top .banners img{
	display: block;
	height:50px;
}
#top .banners>div{
	width:160px;
	height:50px;
	overflow: hidden;
	background:rgba(255,255,255,0.5);
}
#top .banners .btn-next,
#top .banners .btn-prev{
	position: absolute;
	display: block;
	top:5px;
}
#top .banners .btn-next img,
#top .banners .btn-prev img{
	opacity: 0;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
#top .banners .btn-next:hover img,
#top .banners .btn-prev:hover img{
	opacity: 0.3;
}
#top .banners .btn-next{
	right:5px;
	background:url(../img/banners/btn-next.png) no-repeat center center;
}
#top .banners .btn-prev{
	left:5px;
	background:url(../img/banners/btn-prev.png) no-repeat center center;
}
#top .banners .btn-next:hover,
#top .banners .btn-prev:hover{
	/*background:transparent;*/
}

/**************************************************/


#top .badges{
	position: absolute;
	top:20px;
	left:30px;
	height:22%;
	max-height: 160px;
}
#top .badges li{
	display: inline-block;
	padding-bottom:10px;
	padding-right:5px;
	height:100%;
}
#top .badges li a,
#top .badges li a img{
	display: block;
	height:100%;
}
.el{
	opacity: 1;
	-webkit-transition: opacity 1.5s ease 4.5s;
	   -moz-transition: opacity 1.5s ease 4.5s;
	    -ms-transition: opacity 1.5s ease 4.5s;
	     -o-transition: opacity 1.5s ease 4.5s;
	        transition: opacity 1.5s ease 4.5s;
}
body.def .el{
	opacity: 0;
	-webkit-transition: all 0s ease 0s;
	   -moz-transition: all 0s ease 0s;
	    -ms-transition: all 0s ease 0s;
	     -o-transition: all 0s ease 0s;
	        transition: all 0s ease 0s;
}

.share{
	display: block;
	position: absolute;
	top:10px;
	right:15px;
	height:18px;
	overflow: hidden;
}
.share dt{
	display: block;
	width:50px;
	height: 100%;
	float: right;
	background:url(../img/top/share.png) no-repeat right center;
}
.share dd{
	display: block;
	height: 100%;
	width:140px;
	width:0;
	float: right;
	padding-right: 10px;
	overflow: hidden;
}
.share dd ul{
	display: block;
	width:140px;
	height:18px;
	border-right:1px solid #668bc1;
	box-sizing:border-box;
	padding-right: 10px;
}
.share li{
	display: block;
	width:33.33333%;
	height:18px;
	float: left;
}
.share li a{
	display: block;
	width:100%;
	height:100%;
}
.share li.tw a{
	background:url(../img/top/share-tw.png) no-repeat center center;
}
.share li.fb a{
	background:url(../img/top/share-fb.png) no-repeat center center;
}
.share li.gp a{
	background:url(../img/top/share-gp.png) no-repeat center center;
}
.share li img{
	display: block;
	margin:0 auto;
}

/**************************************************/

/* intro */
#intro{
	/*background: #fff;*/
}
#story{
	
}
#intro .v,
#story .v{
	position: relative;
	overflow: hidden;
	opacity: 1;
	-webkit-transition: all .8s ease-in-out;
	   -moz-transition: all .8s ease-in-out;
	    -ms-transition: all .8s ease-in-out;
	     -o-transition: all .8s ease-in-out;
	        transition: all .8s ease-in-out;
}
#intro .v{
	position: relative;
}
#intro .v .spacer{
	display: block;
	width:100%;
}
#intro .v ul{
	display: block;
	width:100%;
	height:100%;
}
#intro .v>ul{
	position: absolute;
	top:0;
	left:0;
}
#intro .v>ul li{
	display: block;
	height:100%;
	overflow: hidden;
}
#intro .v>ul>li{
	width:25%;
	height:100%;
	float: left;
}
#intro .v>ul>li.img1,
#intro .v>ul>li.img4{
	width:37.5%;
}
#intro .v>ul>li li{
	width:100%;
	height:50%;
}
#intro .v>ul .img1,
#intro .v>ul .img2,
#intro .v>ul .img3,
#intro .v>ul .img4{
	opacity:1;
	-webkit-transition: all .5s linear 0s;
	   -moz-transition: all .5s linear 0s;
	    -ms-transition: all .5s linear 0s;
	     -o-transition: all .5s linear 0s;
	        transition: all .5s linear 0s;
}
.v>ul li span{
	display: block;
	width:100%;
	height:100%;
	background:no-repeat center center;
	background-size:cover;
	-webkit-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	   -moz-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	    -ms-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	     -o-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	        transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
}
#intro .v>ul li.img1 span{ background-image:url(../img/intro/img1.jpg); }
#intro .v>ul li.img2 span{ background-image:url(../img/intro/img3.jpg); }
#intro .v>ul li.img3 span{ background-image:url(../img/intro/img4.jpg); }
#intro .v>ul li.img4 span{ background-image:url(../img/intro/img2.jpg); }

#intro .txt{
	width:1000px;
	margin:0 auto;
	font-size:16px;
	line-height: 1.8;
	padding-bottom:40px;
	padding-top:40px;
	color:#004cce;
	-webkit-transition: all .8s ease-in-out 1s;
	   -moz-transition: all .8s ease-in-out 1s;
	    -ms-transition: all .8s ease-in-out 1s;
	     -o-transition: all .8s ease-in-out 1s;
	        transition: all .8s ease-in-out 1s;
}
#intro .txt p{
	display: block;
	padding-bottom:20px;
}
#intro .txt p img{
	display: block;
	margin:0 auto;
}
#intro h2{
	margin-top: 10px;
    margin-bottom: 30px;
	-webkit-transition: all .8s ease-out .4s;
	   -moz-transition: all .8s ease-out .4s;
	    -ms-transition: all .8s ease-out .4s;
	     -o-transition: all .8s ease-out .4s;
	        transition: all .8s ease-out .4s;
}
#intro h2 img{
	display: block;
	margin:0 auto;
}
#intro .v p{
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-40px;
	-webkit-transition: opacity .8s ease-in-out .5s, -webkit-transform .8s ease .5s;
	   -moz-transition: opacity .8s ease-in-out .5s, -moz-transform .8s ease .5s;
	    -ms-transition: opacity .8s ease-in-out .5s, -ms-transform .8s ease .5s;
	     -o-transition: opacity .8s ease-in-out .5s, -o-transform .8s ease .5s;
	        transition: opacity .8s ease-in-out .5s, transform .8s ease .5s;
}

/*****************************************************************/

#story{
	position: relative;
}
#story .v .spacer{
	width:100%;
	display: block;
}
#story .v ul{
	display: block;
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#story .v ul li{
	position: relative;
	display: block;
	width: 20%;
	height: 100%;
	float: left;
	opacity: 1;
	-webkit-transition: all .5s ease 0s;
	   -moz-transition: all .5s ease 0s;
	    -ms-transition: all .5s ease 0s;
	     -o-transition: all .5s ease 0s;
	        transition: all .5s ease 0s;
}
#story .v ul li span{
	display: block;
	width: 100%;
	height: 100%;
	background:no-repeat center center;
	background-size:cover;
	-webkit-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	   -moz-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	    -ms-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	     -o-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	        transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
}
#story .v ul li.img1 span{ background-image:url(../img/story/img1.jpg); }
#story .v ul li.img2 span{ background-image:url(../img/story/img2.jpg); }
#story .v ul li.img3 span{ background-image:url(../img/story/img3.jpg); }
#story .v ul li.img4 span{ background-image:url(../img/story/img4.jpg); }
#story .v ul li.img5 span{ background-image:url(../img/story/img5.jpg); }

#story .txt{
	position: relative;
	overflow: hidden;
}
#story .txt .spacer{
	display: block;
	width:100%;
}
#story .txt .bg{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	overflow: hidden;
	-webkit-transition: all 1s ease 0s;
	   -moz-transition: all 1s ease 0s;
	    -ms-transition: all 1s ease 0s;
	     -o-transition: all 1s ease 0s;
	        transition: all 1s ease 0s;
}
#story .txt .bg span{
	display: block;
	width:100%;
	height:100%;
	background: url(../img/story/bg.jpg) no-repeat center center;
	background-size:cover;
	-webkit-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	   -moz-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	    -ms-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	     -o-transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
	        transition: all 5s cubic-bezier(0, .65, .16, 1) 0s;
}
#story .txt .t{
	position: absolute;
    top: 50%;
    left: 50%;
    margin: -290px 0 0 -550px;
    width: 1100px;
}
#story .txt .t h2{
	display: block;
	padding-bottom:30px;
}
#story .txt .t h2 img{
	display: block;
	margin: 0 auto;
}

/*****************************************************************/

.d1{
	-webkit-transition-delay:0.1s!important;
	   -moz-transition-delay:0.1s!important;
	    -ms-transition-delay:0.1s!important;
	     -o-transition-delay:0.1s!important;
	        transition-delay:0.1s!important;
}
.d2{
	-webkit-transition-delay:0.2s!important;
	   -moz-transition-delay:0.2s!important;
	    -ms-transition-delay:0.2s!important;
	     -o-transition-delay:0.2s!important;
	        transition-delay:0.2s!important;
}
.d3{
	-webkit-transition-delay:0.3s!important;
	   -moz-transition-delay:0.3s!important;
	    -ms-transition-delay:0.3s!important;
	     -o-transition-delay:0.3s!important;
	        transition-delay:0.3s!important;
}
.d4{
	-webkit-transition-delay:0.4s!important;
	   -moz-transition-delay:0.4s!important;
	    -ms-transition-delay:0.4s!important;
	     -o-transition-delay:0.4s!important;
	        transition-delay:0.4s!important;
}
.d5{
	-webkit-transition-delay:0.5s!important;
	   -moz-transition-delay:0.5s!important;
	    -ms-transition-delay:0.5s!important;
	     -o-transition-delay:0.5s!important;
	        transition-delay:0.5s!important;
}
.d6{
	-webkit-transition-delay:0.6s!important;
	   -moz-transition-delay:0.6s!important;
	    -ms-transition-delay:0.6s!important;
	     -o-transition-delay:0.6s!important;
	        transition-delay:0.6s!important;
}
.d7{
	-webkit-transition-delay:0.7s!important;
	   -moz-transition-delay:0.7s!important;
	    -ms-transition-delay:0.7s!important;
	     -o-transition-delay:0.7s!important;
	        transition-delay:0.7s!important;
}
.d8{
	-webkit-transition-delay:0.8s!important;
	   -moz-transition-delay:0.8s!important;
	    -ms-transition-delay:0.8s!important;
	     -o-transition-delay:0.8s!important;
	        transition-delay:0.8s!important;
}
.d9{
	-webkit-transition-delay:0.9s!important;
	   -moz-transition-delay:0.9s!important;
	    -ms-transition-delay:0.9s!important;
	     -o-transition-delay:0.9s!important;
	        transition-delay:0.9s!important;
}
.d10{
	-webkit-transition-delay:1s!important;
	   -moz-transition-delay:1s!important;
	    -ms-transition-delay:1s!important;
	     -o-transition-delay:1s!important;
	        transition-delay:1s!important;
}
.ab span,.at span{
	height:110%!important;
}
.al span,.ar span{
	width:110%!important;
}
.hide .ab,
.hide .at,
.hide .al,
.hide .ar{
	opacity: 0!important;
	-webkit-transition: all 0s ease 0s!important;
	   -moz-transition: all 0s ease 0s!important;
	    -ms-transition: all 0s ease 0s!important;
	     -o-transition: all 0s ease 0s!important;
	        transition: all 0s ease 0s!important;
}

.at span{
	-webkit-transform: translate3D(0,-8%,0);
	   -moz-transform: translate3D(0,-8%,0);
	    -ms-transform: translate3D(0,-8%,0);
	     -o-transform: translate3D(0,-8%,0);
	        transform: translate3D(0,-8%,0);
}
.al span{
	-webkit-transform: translate3D(-8%,0,0);
	   -moz-transform: translate3D(-8%,0,0);
	    -ms-transform: translate3D(-8%,0,0);
	     -o-transform: translate3D(-8%,0,0);
	        transform: translate3D(-8%,0,0);
}
.as {
	opacity: 1;
	-webkit-transition: opacity .5s ease 0s, transform 2s cubic-bezier(0, .65, .16, 1) 0s;
	   -moz-transition: opacity .5s ease 0s, transform 2s cubic-bezier(0, .65, .16, 1) 0s;
	    -ms-transition: opacity .5s ease 0s, transform 2s cubic-bezier(0, .65, .16, 1) 0s;
	     -o-transition: opacity .5s ease 0s, transform 2s cubic-bezier(0, .65, .16, 1) 0s;
	        transition: opacity .5s ease 0s, transform 2s cubic-bezier(0, .65, .16, 1) 0s;
}

.hide .ab,
.hide .at,
.hide .al,
.hide .ar,
.hide .as,
.hide .ab span,
.hide .at span,
.hide .al span,
.hide .ar span,
.hide .as span{
	-webkit-transition: all 0s ease 0s;
	   -moz-transition: all 0s ease 0s;
	    -ms-transition: all 0s ease 0s;
	     -o-transition: all 0s ease 0s;
	        transition: all 0s ease 0s;
}
.hide .ab span{
	-webkit-transform: translate3D(0,-8%,0);
	   -moz-transform: translate3D(0,-8%,0);
	    -ms-transform: translate3D(0,-8%,0);
	     -o-transform: translate3D(0,-8%,0);
	        transform: translate3D(0,-8%,0);
}
.hide .at span{
	-webkit-transform: translate3D(0,0,0);
	   -moz-transform: translate3D(0,0,0);
	    -ms-transform: translate3D(0,0,0);
	     -o-transform: translate3D(0,0,0);
	        transform: translate3D(0,0,0);
}
.hide .al span{
	-webkit-transform: translate3D(0,0,0);
	   -moz-transform: translate3D(0,0,0);
	    -ms-transform: translate3D(0,0,0);
	     -o-transform: translate3D(0,0,0);
	        transform: translate3D(0,0,0);
}
.hide .ar span{
	-webkit-transform: translate3D(-8%,0,0);
	   -moz-transform: translate3D(-8%,0,0);
	    -ms-transform: translate3D(-8%,0,0);
	     -o-transform: translate3D(-8%,0,0);
	        transform: translate3D(-8%,0,0);
}

.hide .as{
	opacity: 0;
	-webkit-transform: translate3D(0,30px,0);
	   -moz-transform: translate3D(0,30px,0);
	    -ms-transform: translate3D(0,30px,0);
	     -o-transform: translate3D(0,30px,0);
	        transform: translate3D(0,30px,0);
}

.br{
	background-position: right center!important;
}
.bl{
	background-position: left center!important;
}

/*****************************************************************/

@media screen and (max-height: 780px) {
	
}
